body{
    background-color: #0d0c11;
    color: white;
    margin:0;
    font-family: sans-serif;
    padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
  }

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 5px;
}

