
#click{
    display: none;
}

.navbar{
    background-color: #09080c;
}

@media (min-width: 981px) {

    .navbar label{
        display: none;
    }
    .navbar{
        height: 70px;
        padding: 0 60px;

        
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight:bold;
    }

    .list-items{ 
        display: flex;
        list-style: none;
    }

    .list-items li{
        margin: 0;
        padding: 0;
        margin: 5px 25px;
    }

    a{
        text-decoration: none;
        color: rgb(127, 127, 127)

    }

    .list-items a{
        position: relative;
        padding: 5px;
    }

    .list-items a:after{
        width: 10%;
        display: none;
        content: '';
        position: absolute;
        background-color: red;
        border-radius: 16px;
        height: 5px;
        left: 45%;
        bottom: -7px;
    }

    .list-items a:hover:after{
        transition: all 0.5s;
        display: inline-block;
    }


    .list-items a:hover{
        transition: all 0.5s;
        color: white;
        cursor: pointer;
    }

    .list-items input{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;

        background-color: #3c3939;
        border: none;
        padding:  4px;
        border-radius: 5px 0 0 5px;
        color: white;
    }

    .list-items input:focus{
        outline: none;
    }
    .searchButton{
        background-color: red;
        border: none;
        height: 30.5px;
        color: white;
        width: 35px;
        border-radius: 0 5px 5px 0;
    }

}

@media (max-width: 980px) {
    svg{
        width: 150px;
    }

    .navbar{
        position: relative;
        padding: 35px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .icon{
        width: 20px;
        font-size: 20px;
    }

    .navbar ul li a{
        color: white;
        text-decoration: none;
    }

    .navbar ul li{
        margin: 30px 0;
    }

    .navbar ul form input, button{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .navbar ul form{
        display: flex;
        margin: 0 35px;
    }

    .navbar ul form button{
        background-color: red;
        border: none;
        color: white;
        border-radius: 0 16px 16px 0;
        padding: 10px 0;
    }

    .navbar ul form input{
        border: none;
        padding: 10px;
        border-radius: 16px 0 0 16px;
    }

    .navbar ul form input{
        width: 70%;
    }

    .navbar ul form button{
        width: 30%;
    }

    .list-items{
        background-color: #030305;
        transition: all 0.5s;
        z-index: 1000;
        position: absolute;
        flex-direction: column;
        list-style: none;
        text-align: center;
        padding-left:0; 
        width: 100%;
        top: 100px;
        left: -100%;
        padding-bottom: 20px;
        /* Por defecto las listas traen un padding  */
    }

    .navbar li a.active, .navbar li a:hover{
        color: rgb(255, 107, 107);
    }

    #click:checked ~ .list-items{
        transition: all 0.5s;
        left: 0;
    }
}
